// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #383838;
$background-color: #c3c2c5;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #000;
$link-color: #ffff99;
$selection-color: #000; // visible when highlighting text

// Header colours
$header-link-color: #fff;

// Feature image for articles
$feature-image-text-color: #000;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #fff;
$header-desc-text-color: #000;
